@import url(https://fonts.googleapis.com/css?family=Azeret+Mono);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #282B28;
    color: #FFF;
}

/* Resetando a config dos hyperlink's*/
a:link, a:visited, a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}
a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    z-index: 3;
    position: relative;
    width: 100vw;
    height: 80px;
    max-width: 100%;
    padding: 1.5% 5%;
    background: #2E392E;
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
header svg {
    height: 40px;
    width: 40px;
    fill: #FFF;
    display: none;
}
header a {
    display: flex;
    flex-flow: column;
    align-items: right;
}
header h1 {
    color: #FFF;
    text-align: center;
    font-family: Azeret Mono;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header h2 {
    color: #FFF;
    text-align: right;
    font-family: Azeret Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header p {
    display: inline;
    padding: 8px 30px;
    border-radius: 45px;
    background: #202020;

    color: rgba(255, 255, 255, 0.70);
    font-family: Azeret Mono;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
@media (width < 850px) {
    header {
        height: 65px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 15px;
    }
    header p {
        font-size: 18px;
    }
}

#navbar {
    position: absolute;
    top: -100%;
    z-index: 2;
    display: flex;
    flex-flow: column;
    background-color: #534D3A;
    padding: 15px;
    width: 100%;
    transition: top .5s ease;
}
#navbar a {
    margin: 8px 0;
    color: #FFF;
    text-align: center;
    font-family: Azeret Mono;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    width: 100%;
    max-width: 100vw;
    min-height: 500px;
    display: flex;
    flex-flow: row;
}

#sidebar {
    padding: 15px;
    width: 370px;
    flex-shrink: 0;
}
#sidebar div {
    position: sticky;
    display: flex;
    flex-flow: column;
    margin: 6px;
    padding: 10px;
    background-color: #313531;
}
#sidebar #firstDiv a{
    margin: 2px 0;
    color: #FFF;
    font-family: Azeret Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#sidebar #secondDiv a{
    margin: 4px 0;
    color: #FFF;
    font-family: Azeret Mono;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (width < 700px) {
    #sidebar {
        display: none;
    }
    #listra {
        display: none;
    }
    header svg {
        display: inline;
    }
    header {
        height: 50px;
        padding: 1% 3%;
    }
    header h1 {
        font-size: 21px;
    }
    header h2 {
        font-size: 11px;
    }
    header p {
        font-size: 13px;
        padding: 7px 27px;
    }
    #navbar a {
        font-size: 28px;
    }
}
@media (width < 500px) {
    header {
        height: 50px;
        padding: 1% 1%;
    }
    header h1 {
        font-size: 18px;
    }
    header h2 {
        font-size: 9px;
    }
    header p {
        font-size: 13px;
        padding: 5px 18px;
    }
    #navbar a {
        font-size: 24px;
    }
}
@media (width < 420px) {
    header {
        height: 42px;
        padding: 1% 1%;
    }
    header h1 {
        font-size: 16px;
    }
    header h2 {
        font-size: 8px;
    }
    header p {
        font-size: 11px;
        padding: 4px 16px;
    }
    #navbar a {
        font-size: 20px;
    }
}
footer {
    width: 100%;
    min-height: 130px;
    padding: 1% 5% 1%;
    background-color: #363A36;
    display: flex;
    flex-flow: column;

    color: #FFF;
    text-align: center;
    font-family: Azeret Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
footer #footerWrapper {
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
footer #footerWrapper div {
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
footer #footerWrapper a {
    padding: 0 5%;
}
footer p {
    align-content: center;
    
    color: #FFF;
    text-align: center;
    font-family: Azeret Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (width < 800px) {
    footer {
        font-size: 16px;
    }
    footer p {
        font-size: 10px;
    }
}
@media (width < 550px) {
    footer {
        font-size: 12px;
    }
    footer p {
        font-size: 8px;
    }
}